In [1]:
import pandas as pd #数据处理

Read data from clean data csv.

In [2]:
file = r'data/clean_data.csv'
df = pd.read_csv(file)
df

,date,mintemp,maxtemp,meantemp,minpres,maxpres,meanpres,maxhumi,minhumi,meanhumi,...,S_wd,SE_wd,E_wd,NE_wd,nocld,little,some,much,cloudy,rain
0,27.09.2012,12.0,21.0,15.958333,761.2,763.5,762.487500,100.0,39.0,75.375000,...,0,0,0,0,1,0,0,0,0,0
1,28.09.2012,15.0,24.0,19.000000,762.0,765.0,763.616667,42.0,10.0,22.875000,...,0,0,0,0,1,0,0,0,0,0
2,29.09.2012,8.0,25.0,16.875000,761.2,765.0,763.541667,82.0,17.0,43.583333,...,1,1,1,1,1,0,0,0,0,0
3,30.09.2012,8.0,26.0,16.833333,760.5,765.0,763.037500,87.0,18.0,52.750000,...,0,0,0,0,1,0,0,0,0,0
4,1.10.2012,1.0,24.0,11.125000,759.7,768.1,763.915909,100.0,11.0,64.204545,...,1,1,1,1,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3712,26.11.2022,-5.0,4.0,0.333333,763.5,769.6,767.350000,50.0,14.0,26.770833,...,0,0,0,0,1,0,0,0,0,0
3713,27.11.2022,-2.0,8.0,3.437500,759.0,763.5,761.060417,56.0,23.0,36.208333,...,0,0,0,0,1,0,0,0,0,0
3714,28.11.2022,-2.0,13.0,6.479167,760.5,772.7,763.922917,61.0,17.0,31.729167,...,0,0,0,0,1,0,0,0,0,0
3715,29.11.2022,-10.0,-2.0,-5.958333,772.7,783.1,778.268750,30.0,12.0,21.208333,...,0,0,0,0,1,0,0,0,0,0
3716,30.11.2022,-11.0,-2.0,-6.229167,777.7,783.1,780.079167,57.0,14.0,23.166667,...,0,0,0,0,1,0,0,0,0,0

Create small sample DataFrame for easier testing.

In [3]:
tmp = df[['date', 'mintemp', 'meanpres', 'E_wd', 'some']].head(10)
tmp

         date  mintemp    meanpres  E_wd  some
0  27.09.2012     12.0  762.487500     0     0
1  28.09.2012     15.0  763.616667     0     0
2  29.09.2012      8.0  763.541667     1     0
3  30.09.2012      8.0  763.037500     0     0
4   1.10.2012      1.0  763.915909     1     0
5   2.10.2012      6.0  761.095833     1     0
6   3.10.2012      2.0  761.276389     0     0
7   4.10.2012      3.0  762.133333     1     0
8   5.10.2012      6.0  764.247945     1     0
9   6.10.2012      7.0  765.305556     1     0

In [4]:
# 1 day prior
N = 2

# target measurement of mean temperature
feature = 'mintemp'

# total number of rows
rows = tmp.shape[0]

# a list representing Nth prior measurements of feature
# notice that the front of the list needs to be padded with N
# None values to maintain the constistent rows length for each N
nth_prior_measurements = [None]*N + [tmp[feature][i-N] for i in range(N, rows)]

# make a new column name of feature_N and add to DataFrame
col_name = "{}_{}".format(feature, N)  
tmp[col_name] = nth_prior_measurements  
tmp

         date  mintemp    meanpres  E_wd  some  mintemp_2
0  27.09.2012     12.0  762.487500     0     0        NaN
1  28.09.2012     15.0  763.616667     0     0        NaN
2  29.09.2012      8.0  763.541667     1     0       12.0
3  30.09.2012      8.0  763.037500     0     0       15.0
4   1.10.2012      1.0  763.915909     1     0        8.0
5   2.10.2012      6.0  761.095833     1     0        8.0
6   3.10.2012      2.0  761.276389     0     0        1.0
7   4.10.2012      3.0  762.133333     1     0        6.0
8   5.10.2012      6.0  764.247945     1     0        2.0
9   6.10.2012      7.0  765.305556     1     0        3.0

Function for creating the required feature for the n-th prior day.

In [5]:
def get_nth_prior(df, feature, n): 
    rows = df.shape[0]
    nth_prior_measurements = [None]*n + [df[feature][i-n] for i in range(n, rows)]
    col_name = "{}_{}".format(feature, n)
    df[col_name] = nth_prior_measurements

In [6]:
features = [column for column in tmp]
print(features)

for feature in features:
    if feature != 'date':
        for n in range(1, 4):
            get_nth_prior(tmp, feature, n)

tmp

['date', 'mintemp', 'meanpres', 'E_wd', 'some', 'mintemp_2']

,date,mintemp,meanpres,E_wd,some,mintemp_2,mintemp_1,mintemp_3,meanpres_1,meanpres_2,meanpres_3,E_wd_1,E_wd_2,E_wd_3,some_1,some_2,some_3,mintemp_2_1,mintemp_2_2,mintemp_2_3
0,27.09.2012,12.0,762.487500,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,28.09.2012,15.0,763.616667,0,0,NaN,12.0,NaN,762.487500,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2,29.09.2012,8.0,763.541667,1,0,12.0,15.0,NaN,763.616667,762.487500,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,30.09.2012,8.0,763.037500,0,0,15.0,8.0,12.0,763.541667,763.616667,762.487500,1.0,0.0,0.0,0.0,0.0,0.0,12.0,NaN,NaN
4,1.10.2012,1.0,763.915909,1,0,8.0,8.0,15.0,763.037500,763.541667,763.616667,0.0,1.0,0.0,0.0,0.0,0.0,15.0,12.0,NaN
5,2.10.2012,6.0,761.095833,1,0,8.0,1.0,8.0,763.915909,763.037500,763.541667,1.0,0.0,1.0,0.0,0.0,0.0,8.0,15.0,12.0
6,3.10.2012,2.0,761.276389,0,0,1.0,6.0,8.0,761.095833,763.915909,763.037500,1.0,1.0,0.0,0.0,0.0,0.0,8.0,8.0,15.0
7,4.10.2012,3.0,762.133333,1,0,6.0,2.0,1.0,761.276389,761.095833,763.915909,0.0,1.0,1.0,0.0,0.0,0.0,1.0,8.0,8.0
8,5.10.2012,6.0,764.247945,1,0,2.0,3.0,6.0,762.133333,761.276389,761.095833,1.0,0.0,1.0,0.0,0.0,0.0,6.0,1.0,8.0
9,6.10.2012,7.0,765.305556,1,0,3.0,6.0,2.0,764.247945,762.133333,761.276389,1.0,1.0,0.0,0.0,0.0,0.0,2.0,6.0,1.0

In [7]:
features = [column for column in df]
print(features)

for feature in features:
    if feature != 'date':
        for n in range(1, 4):
            get_nth_prior(df, feature, n)

df

['date', 'mintemp', 'maxtemp', 'meantemp', 'minpres', 'maxpres', 'meanpres', 'maxhumi', 'minhumi', 'meanhumi', 'meanwdspd', 'maxdewpt', 'mindewpt', 'meandewpt', 'N_wd', 'NW_wd', 'W_wd', 'SW_wd', 'S_wd', 'SE_wd', 'E_wd', 'NE_wd', 'nocld', 'little', 'some', 'much', 'cloudy', 'rain']

,date,mintemp,maxtemp,meantemp,minpres,maxpres,meanpres,maxhumi,minhumi,meanhumi,...,some_3,much_1,much_2,much_3,cloudy_1,cloudy_2,cloudy_3,rain_1,rain_2,rain_3
0,27.09.2012,12.0,21.0,15.958333,761.2,763.5,762.487500,100.0,39.0,75.375000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,28.09.2012,15.0,24.0,19.000000,762.0,765.0,763.616667,42.0,10.0,22.875000,...,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
2,29.09.2012,8.0,25.0,16.875000,761.2,765.0,763.541667,82.0,17.0,43.583333,...,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN
3,30.09.2012,8.0,26.0,16.833333,760.5,765.0,763.037500,87.0,18.0,52.750000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.10.2012,1.0,24.0,11.125000,759.7,768.1,763.915909,100.0,11.0,64.204545,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3712,26.11.2022,-5.0,4.0,0.333333,763.5,769.6,767.350000,50.0,14.0,26.770833,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3713,27.11.2022,-2.0,8.0,3.437500,759.0,763.5,761.060417,56.0,23.0,36.208333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3714,28.11.2022,-2.0,13.0,6.479167,760.5,772.7,763.922917,61.0,17.0,31.729167,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3715,29.11.2022,-10.0,-2.0,-5.958333,772.7,783.1,778.268750,30.0,12.0,21.208333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3716,30.11.2022,-11.0,-2.0,-6.229167,777.7,783.1,780.079167,57.0,14.0,23.166667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3717 entries, 0 to 3716
Data columns (total 109 columns):
 #    Column       Dtype
---   ------       -----
 0    date         object
 1    mintemp      float64
 2    maxtemp      float64
 3    meantemp     float64
 4    minpres      float64
 5    maxpres      float64
 6    meanpres     float64
 7    maxhumi      float64
 8    minhumi      float64
 9    meanhumi     float64
 10   meanwdspd    float64
 11   maxdewpt     float64
 12   mindewpt     float64
 13   meandewpt    float64
 14   N_wd         int64
 15   NW_wd        int64
 16   W_wd         int64
 17   SW_wd        int64
 18   S_wd         int64
 19   SE_wd        int64
 20   E_wd         int64
 21   NE_wd        int64
 22   nocld        int64
 23   little       int64
 24   some         int64
 25   much         int64
 26   cloudy       int64
 27   rain         int64
 28   mintemp_1    float64
 29   mintemp_2    float64
 30   mintemp_3    float64
 31   maxtemp_1    float64
 32   maxtemp_2    float64
 33   maxtemp_3    float64
 34   meantemp_1   float64
 35   meantemp_2   float64
 36   meantemp_3   float64
 37   minpres_1    float64
 38   minpres_2    float64
 39   minpres_3    float64
 40   maxpres_1    float64
 41   maxpres_2    float64
 42   maxpres_3    float64
 43   meanpres_1   float64
 44   meanpres_2   float64
 45   meanpres_3   float64
 46   maxhumi_1    float64
 47   maxhumi_2    float64
 48   maxhumi_3    float64
 49   minhumi_1    float64
 50   minhumi_2    float64
 51   minhumi_3    float64
 52   meanhumi_1   float64
 53   meanhumi_2   float64
 54   meanhumi_3   float64
 55   meanwdspd_1  float64
 56   meanwdspd_2  float64
 57   meanwdspd_3  float64
 58   maxdewpt_1   float64
 59   maxdewpt_2   float64
 60   maxdewpt_3   float64
 61   mindewpt_1   float64
 62   mindewpt_2   float64
 63   mindewpt_3   float64
 64   meandewpt_1  float64
 65   meandewpt_2  float64
 66   meandewpt_3  float64
 67   N_wd_1       float64
 68   N_wd_2       float64
 69   N_wd_3       float64
 70   NW_wd_1      float64
 71   NW_wd_2      float64
 72   NW_wd_3      float64
 73   W_wd_1       float64
 74   W_wd_2       float64
 75   W_wd_3       float64
 76   SW_wd_1      float64
 77   SW_wd_2      float64
 78   SW_wd_3      float64
 79   S_wd_1       float64
 80   S_wd_2       float64
 81   S_wd_3       float64
 82   SE_wd_1      float64
 83   SE_wd_2      float64
 84   SE_wd_3      float64
 85   E_wd_1       float64
 86   E_wd_2       float64
 87   E_wd_3       float64
 88   NE_wd_1      float64
 89   NE_wd_2      float64
 90   NE_wd_3      float64
 91   nocld_1      float64
 92   nocld_2      float64
 93   nocld_3      float64
 94   little_1     float64
 95   little_2     float64
 96   little_3     float64
 97   some_1       float64
 98   some_2       float64
 99   some_3       float64
 100  much_1       float64
 101  much_2       float64
 102  much_3       float64
 103  cloudy_1     float64
 104  cloudy_2     float64
 105  cloudy_3     float64
 106  rain_1       float64
 107  rain_2       float64
 108  rain_3       float64
dtypes: float64(94), int64(14), object(1)
memory usage: 3.1+ MB

Drop rows with null value to ensure the integrity of dataset.

In [9]:
df_nona = df.dropna()
df_nona

,date,mintemp,maxtemp,meantemp,minpres,maxpres,meanpres,maxhumi,minhumi,meanhumi,...,some_3,much_1,much_2,much_3,cloudy_1,cloudy_2,cloudy_3,rain_1,rain_2,rain_3
3,30.09.2012,8.0,26.0,16.833333,760.5,765.0,763.037500,87.0,18.0,52.750000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.10.2012,1.0,24.0,11.125000,759.7,768.1,763.915909,100.0,11.0,64.204545,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2.10.2012,6.0,25.0,14.513889,758.2,765.0,761.095833,100.0,24.0,66.888889,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,3.10.2012,2.0,25.0,14.027778,758.2,765.8,761.276389,100.0,8.0,55.013889,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,4.10.2012,3.0,25.0,14.111111,756.9,768.1,762.133333,100.0,13.0,52.069444,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3712,26.11.2022,-5.0,4.0,0.333333,763.5,769.6,767.350000,50.0,14.0,26.770833,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3713,27.11.2022,-2.0,8.0,3.437500,759.0,763.5,761.060417,56.0,23.0,36.208333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3714,28.11.2022,-2.0,13.0,6.479167,760.5,772.7,763.922917,61.0,17.0,31.729167,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3715,29.11.2022,-10.0,-2.0,-5.958333,772.7,783.1,778.268750,30.0,12.0,21.208333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3716,30.11.2022,-11.0,-2.0,-6.229167,777.7,783.1,780.079167,57.0,14.0,23.166667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
import re

s = r'._\d'

to_keep = df_nona.columns[df_nona.columns.str.contains(s, regex=True)]
to_remove = [column for column in df_nona.columns if column not in to_keep]
x = df_nona.drop(to_remove, axis=1)
x

,mintemp_1,mintemp_2,mintemp_3,maxtemp_1,maxtemp_2,maxtemp_3,meantemp_1,meantemp_2,meantemp_3,minpres_1,...,some_3,much_1,much_2,much_3,cloudy_1,cloudy_2,cloudy_3,rain_1,rain_2,rain_3
3,8.0,15.0,12.0,25.0,24.0,21.0,16.875000,19.000000,15.958333,761.2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,8.0,8.0,15.0,26.0,25.0,24.0,16.833333,16.875000,19.000000,760.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1.0,8.0,8.0,24.0,26.0,25.0,11.125000,16.833333,16.875000,759.7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,6.0,1.0,8.0,25.0,24.0,26.0,14.513889,11.125000,16.833333,758.2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,2.0,6.0,1.0,25.0,25.0,24.0,14.027778,14.513889,11.125000,758.2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3712,1.0,1.0,-1.0,13.0,9.0,13.0,7.708333,6.625000,4.916667,759.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3713,-5.0,1.0,1.0,4.0,13.0,9.0,0.333333,7.708333,6.625000,763.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3714,-2.0,-5.0,1.0,8.0,4.0,13.0,3.437500,0.333333,7.708333,759.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3715,-2.0,-2.0,-5.0,13.0,8.0,4.0,6.479167,3.437500,0.333333,760.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3716,-10.0,-2.0,-2.0,-2.0,13.0,8.0,-5.958333,6.479167,3.437500,772.7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
y = df_nona['meantemp']
y

3       16.833333
4       11.125000
5       14.513889
6       14.027778
7       14.111111
          ...
3712     0.333333
3713     3.437500
3714     6.479167
3715    -5.958333
3716    -6.229167
Name: meantemp, Length: 3714, dtype: float64

In [12]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
x_train

,mintemp_1,mintemp_2,mintemp_3,maxtemp_1,maxtemp_2,maxtemp_3,meantemp_1,meantemp_2,meantemp_3,minpres_1,...,some_3,much_1,much_2,much_3,cloudy_1,cloudy_2,cloudy_3,rain_1,rain_2,rain_3
2501,18.0,16.0,22.0,31.0,34.0,37.0,25.055556,26.135417,29.583333,747.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1969,-9.0,-10.0,-5.0,7.0,5.0,5.0,-0.500000,-1.375000,0.437500,764.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
599,13.0,14.0,14.0,30.0,28.0,30.0,23.400000,22.222222,23.361702,753.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1697,20.0,21.0,17.0,35.0,37.0,36.0,28.250000,29.083333,27.270833,754.6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3403,-7.0,-8.0,-12.0,-2.0,-2.0,3.0,-4.166667,-3.583333,-4.395833,774.7,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1133,-6.0,-4.0,-1.0,19.0,20.0,19.0,4.491803,4.830645,5.049587,764.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1297,6.0,13.0,8.0,22.0,23.0,27.0,16.060606,17.878788,16.562500,756.2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
863,-7.0,-6.0,-6.0,13.0,9.0,11.0,2.713115,2.754237,1.159664,762.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3510,6.0,6.0,7.0,36.0,35.0,31.0,20.388889,19.506944,22.722222,746.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3177,17.0,20.0,17.0,35.0,34.0,34.0,26.381944,26.243056,23.166667,747.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
y_train

2501    25.694444
1969    -2.062500
599     22.468085
1697    24.333333
3403    -3.625000
          ...
1133     3.905512
1297    15.588235
863      1.789474
3510    20.763889
3177    25.352113
Name: meantemp, Length: 2971, dtype: float64

## Basic Linear Regression

In [14]:
from sklearn.linear_model import LinearRegression

regressor = LinearRegression()

regressor.fit(x_train, y_train)

LinearRegression()

In [15]:
prediction = regressor.predict(x_test)
prediction

array([ -4.58464602,   0.49539038,  29.82659436,  10.33055535,
        25.49378911,  27.081242  ,  15.5099564 ,  27.97201419,
        -4.88879521,  28.8849792 ,  24.30184877,  -5.99818516,
        22.63122755,  19.00366979,  29.88250184,  27.05086242,
        -0.88578481,  19.77763654,   6.87243204,  28.32678856,
         7.92292342,  21.09577717,   0.51816168,  26.08111662,
        23.24679727,  27.13355033,  -1.59412828,  12.85234178,
        -0.27224925,  27.89313247,  25.93763978,  26.36733923,
        15.03966772,   5.32573244,  21.6097061 ,  16.02608463,
        18.75737783,  -1.79884639,  21.65848791,  -2.47771987,
         8.87691332,  17.25436639,  23.35038592,  10.53317755,
        14.58726591,  17.54409048,  -1.90118745,   9.34620483,
        26.44637038,  -2.92472327,  23.02478543,  11.73733298,
        11.34084999,  10.33503465,  18.80324702,  16.35464607,
        21.33036298,   7.72750105,   9.6361756 ,  -1.57143272,
        -5.92411099,   9.25779932,   5.16013656,  21.21271485,
         0.13541816,  10.8818741 ,  27.66618902,   1.73539748,
         6.63998349,   6.58473638,  -0.19494499,  12.74716826,
        27.70138801,  10.21278021,  12.72425751,  11.51118891,
        16.78187798,   5.72107897,  -1.72280748,   8.81744856,
        17.31476334,  28.64561333,  20.30559835,   8.24725002,
        26.9113927 ,  28.26273374,   6.38603238,   9.45359944,
        29.31291987,  29.42320651,  27.31992205,  -1.18180662,
         3.26477989,  30.95249008,  22.33220525,  -0.94053867,
        22.37853407,   8.85216083,  26.08550231,   0.10062709,
        14.37411256,   1.97368623,  19.73713518,   2.94724409,
        -2.10537371,  -8.77723458,  28.32152236,   6.39134391,
        23.26467266,   1.03811645,   5.63740834,  -0.39577561,
         5.42999118,  -1.6827024 ,  21.75338787,  25.35228141,
        21.75297195,   9.89384766,  -4.05161259,  12.63981369,
         2.06347361,  14.71934962,   1.3335033 ,  28.32311455,
         4.3231411 ,   0.03863185,   6.96651118,  19.70683165,
        25.808128  ,   4.40293822,  26.32364284,  12.24300564,
        26.30300625,   9.97079151,  -1.46101822,  -2.18000489,
        18.9329899 ,  27.38184919,  16.20465181,   8.66463917,
        27.09308237,  11.90095623,  28.80531074,  26.97137088,
        11.78140907,  12.33207335,   6.07021854,  -3.73115779,
        -3.04467965,   2.56478852,   6.94387056,  27.47149227,
        20.08464102,  25.5056317 ,  27.53026834,   4.24249402,
        25.52553237,  15.99915076,  -4.78137445,   5.57548973,
        -3.26503059,   5.40508139,   8.27908786,   0.63511268,
         4.86593243,  -0.16412201,  11.57353929,  16.24876533,
        21.56221863,   3.17563799,   6.60761726,  15.01944906,
        18.89576642,  -0.62590003,   0.32028784,  -2.59194197,
        26.57807072,   9.76156636,  21.83343244,  25.88960419,
         5.93780587,  -8.02134351,  24.03021068,   7.55547983,
        13.40338496,  18.43036418,  14.73733135,  -3.19751261,
        23.31704658,  -3.42390157,  -1.82689077,  10.60014178,
        27.82004839,  -3.79832066,   7.6108642 ,  17.80268627,
        10.68537788,   0.45977733,   8.70960323,  -2.84600854,
        24.15270122,  19.8321016 ,  -0.08509197,   7.13640055,
        28.35590792,  -0.96250196,   6.68660589,  17.49404932,
        27.37592727,  11.62757656,   1.67652329,  13.28664875,
        26.62964388,   1.19051874,  16.85948452,  27.48809021,
        10.10332673,  15.55027548,   0.27049845,  24.46634933,
        24.45273301,   0.3853544 ,  -0.13692586,  11.20900559,
        -1.66788724,  25.75786018,  15.00043875,  10.36397824,
         9.95303417,  21.24265153,  -3.3175791 ,  -3.46806846,
        25.31269414,  25.88434094,  29.81205919,  -2.60488182,
         5.3791735 ,   0.41929854,  27.6032507 ,   9.12171339,
        25.60521473,  -2.39158006,   2.12345179,  17.17578676,
         3.50928948,  -3.03583602,  17.7572806 ,  11.62094829,
         3.80682366,  23.17996138,   6.47758115,  -4.33855133,
         0.83065813,  12.11601534,  -2.19564052,  23.69243792,
        24.82286782,  18.74193109,  12.55102729,  -5.56658625,
        12.22117784,  21.41350435,   3.44653468,   4.58171127,
         6.73780981,  26.16294196,   7.07582497,   4.8020995 ,
        25.84506958,  27.00012574,   1.80634799,  -0.90894968,
        23.18954949,  24.59926707,  -1.16649039,  19.03803611,
        -0.18426595, -13.67719008,  19.84199048,  10.06345647,
         9.85589912,  -0.60425486,  25.25070964,  18.91103598,
        29.92833981,  21.11069663,  25.48701049,  -0.05691836,
        27.78772179,  -1.98870197,  28.58050028,  24.86862945,
        27.77967794,   9.41485288,  -2.15050845,  -6.29069574,
         3.98018092,  28.01736685,   2.41379173,  -0.33896225,
        29.27975213,  23.62075034,  13.50698883,  32.38991885,
        -2.05661447,  26.20890874,  15.17202688,  20.24644012,
         4.44327762,  22.54447833,   7.66762217,  19.85666448,
        24.28349618,  -1.16314891,   2.20200612,  -3.71048579,
        -0.61354363,  12.14140748,  26.75183022,  -1.14065792,
        26.20009805,  22.96631451,  -3.96188592,  -2.62572334,
         7.73877993,  25.2937711 ,  -2.37749954,  26.63165026,
        10.64651004,  12.11140263,   9.35766398,   0.57666118,
        26.50593589,  -5.33060841,  25.32155202,  25.48735925,
        28.89417353,  22.2467166 ,  -0.41292734,  24.27260076,
         6.4086942 ,  16.04230889,  28.17408047,  11.91712935,
        19.46040466,   0.37574444,  10.95495619,  10.95793838,
        11.25414815,  -2.88819788,  -1.15315547,  24.83148085,
        -3.66957114,  20.13552903,  28.11582386,  12.71354823,
        28.08487263,   4.45741669,  12.24844679,  19.15164221,
        -0.15651336,  12.75212329,  15.825609  ,  13.8513804 ,
         0.78546858,   0.96635874,  28.08722931,  26.78125946,
         2.76446861,  25.54837723,  -0.21278537,  25.40768236,
         3.87395128,  16.29165652,  22.56025113,   8.95103349,
        20.95630599,  13.38611055,   2.58871998,  22.07380994,
        -1.94042677,  -3.28993751,  11.38802269,  28.3163038 ,
        23.08822553,   4.36184903,  -0.21391438,   9.16796908,
        27.00758935,  20.10907122,  -5.03551168,  -1.57848438,
        24.89651107,  17.84156353,  20.34462329,  -0.17987801,
        25.35359289,  -3.7758712 , -11.13111441,  -1.43058192,
        13.84334029,  -1.64814456,  22.70126864,  13.1459864 ,
        -0.42354976,  23.6554221 ,  27.06686733,  21.15633272,
        25.69812572,  -4.32162032,   7.55959158,  26.95325197,
        22.39148621,  16.38659376,   9.81004212,   9.01080725,
        11.53723025,  18.44300705,  -4.68588938,   3.84842287,
        23.49932463,  -3.18236124,   5.18698104,  -1.52996692,
        22.79644099,  17.85644697,  25.78710109,  -1.82192959,
        19.63468677,  24.22969233,  22.03272885,   6.21090834,
         6.6143473 ,  22.47587349,   2.36112066,  24.85282427,
        23.70784405,  -5.77336935,  -5.40543742,  27.94471428,
        17.16863847,  21.60042464,  26.83943943,  -4.44005795,
        10.6657731 ,  19.68275673,  24.94054598,   7.52481187,
        23.51297446,  12.43412334,  -1.71292895,  22.23512901,
        25.26506497,  22.11178514,  13.050787  ,  26.09645443,
        24.65265546,  13.31037882,  -5.27120227,   3.71034286,
        -1.03372565,  21.80107049,  24.26210867,   6.17268099,
        12.85696585,  25.96498521,  22.64393821,   1.70563552,
        -2.45098783,  23.88567352,  -7.80234862,  -4.27641086,
         6.51990577,  21.95695757,  -3.94222942,  20.86931985,
        17.80874539,  -1.57268028,  21.39373012,  15.43419632,
        25.98632586,  10.92239899,   1.13349318,   3.12726609,
         8.73908636,   9.55746056,  27.23270067,   5.88639964,
         1.68286614,   8.49508144,  23.95564026,  16.73035098,
         3.93231036,  12.62240319,  23.05354158,   3.64415207,
        -3.15370083,   2.63591665,  13.23419729,  20.30662938,
        15.88663199,   2.23069992,  25.90356576,   7.79304252,
        24.18509131,  26.01688985,   2.7926907 ,  26.12149586,
        28.43701282,  -2.1326061 ,  21.76196663,   3.33998951,
        -2.47416151,  21.4535758 ,  26.05191188,  24.24258435,
         3.17534256,  24.90931318,  21.17512645,  -0.73702509,
        21.01535888,  20.79001422,  -6.591011  ,  26.93508158,
        15.56097745,  11.60080062,   1.9041903 ,  12.02888676,
        -1.30784128,  27.37721079,   4.21907251,  21.53969192,
        12.75563032,  25.33833959,  25.17185987,  27.83608   ,
        24.83286734,  21.85536906,   6.32821012,   5.8794219 ,
        22.84827986,  -3.3866986 ,  25.68577686,   1.32437313,
        -2.93831964,  -0.04015002,  25.96891209,   8.97204888,
        23.35768035,  27.04760244,  17.0522564 ,  -2.03857911,
        25.88048855,  17.09461227,   5.69774275,   5.10495126,
        25.00703013,  25.81517975,  21.73579045,  -0.2080227 ,
        -3.24305536,  27.48233788,   4.49789023,   6.74771538,
         0.59249703,  16.34709938,  14.80363359,  22.49287126,
        -2.28685916,   2.29753722,   9.99444484,   2.70939959,
        26.77062225,  -3.14486905,  16.55325514,  -2.32436938,
         2.12317722,  12.45484413,  -5.2596614 ,  -3.27543713,
        -0.59222864,  23.93615524,  -1.42244304,  20.70446286,
        26.60390371,  -3.37894857,  21.6278899 ,  29.99756092,
        20.55802888,  23.37668052,  21.9552529 ,  -9.38695154,
         4.68754004,  -2.34601869,  26.8861183 ,  28.60317218,
        -3.74020674,   0.12724158,  23.5615378 ,   4.50477334,
        25.02298605,  17.73371332,  16.3015514 ,  27.80240664,
         6.30950211,  20.0182697 ,  26.92586893,  26.64957919,
        10.09294087,  26.69402744,   5.98121018,  26.64413185,
         1.46966353,  23.41402565,   9.96414989,  -0.41306795,
        23.12459399,  21.47294125,  23.55557034,  14.92026358,
        13.21808761,  16.63455093,  17.42565918,  27.602997  ,
        21.99363858,  -1.36507822,  -0.85874381,  22.13061926,
        21.68799571,  11.89852448,   0.10666041,  21.64564064,
        -0.998816  ,  19.17615678,  23.31408861,  25.56226666,
        15.75301431,  27.6117382 ,   2.74487758,  10.48270089,
        24.70982733,  -1.05312981,  -1.35949259,  24.64895484,
        23.93409711,  21.02114963,  -0.09815182,  20.71648409,
        17.89453549,  10.69553577,  27.68618561,  12.97121071,
        28.39527863,  22.59531027,  25.4336057 ,  23.47943639,
        13.049057  ,   0.82960106,  -3.00220898,  29.56934265,
        18.13849627,  26.86414436,   1.99393652,   3.20357788,
        27.52793739,  26.42890675,  12.71605678,   3.29711508,
        13.37314285,   7.22261129,  -2.301219  ,   3.59426718,
        25.58618522,  21.7063214 ,  -3.8235745 ,  17.95307509,
        26.96526912,  -2.79603539,  23.50490663,  17.40341269,
        -2.74467295,  14.68281132,  -3.46345667, -12.68792466,
        16.11711015,  -2.14682201,   2.1513667 ,   6.54400379,
        -0.78033394,  -0.51970908,  12.26107814,  -5.75718517,
        25.91535832,  -4.12116815,   7.31959369,  26.56801441,
        27.32751629,  23.45554745,  -2.48103953,  24.51191365,
        -1.50033195,  15.59028093,   7.60402095,  22.42872222,
        29.10926523,  -0.71332494,  -1.62022291,  13.91936283,
        11.73295098,  26.70511044,  -1.10652355,  22.12915256,
        25.5355401 ,   8.91917683,  28.69769836,   4.35283875,
        19.21618856,  13.51848581,  15.63126838,   0.64173376,
        11.64644567,  25.03557927,  26.31530861,  13.23048861,
        24.58281406,  20.43145301,  -6.40414792,  -0.85572868,
         1.69227601,  28.32567409,  23.48946843,  18.58129049,
        23.71667703,  15.94416283,  11.79490689,  20.26553699,
        -0.98353904,  -1.23974222,   6.52490321,  16.35737254,
         1.98838806,  16.6859166 ,   6.40350046])

In [16]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
print("The Explained Variance: %.2f" % regressor.score(x_test, y_test))  
print("The Mean Absolute Error: %.2f degrees celsius" % mean_absolute_error(y_test, prediction))  
print("The Mean Squared Error: %.2f degrees celsius" % mean_squared_error(y_test, prediction))

The Explained Variance: 0.97
The Mean Absolute Error: 1.45 degrees celsius
The Mean Squared Error: 3.64 degrees celsius

Save the trained model as a file by using `joblib`.

In [17]:
import joblib

joblib.dump(regressor, r'models/basicLinearRegression.model')

joblib.dump(x, r'models/x.dataset')
joblib.dump(y, r'models/y.dataset')
joblib.dump(x_train, r'models/x_train.dataset')
joblib.dump(x_test, r'models/x_test.dataset')
joblib.dump(y_train, r'models/y_train.dataset')
joblib.dump(y_test, r'models/y_test.dataset')

['models/y_test.dataset']

### Testing zone

In [39]:
test_file = r'data/clean_data_test.csv'
df_test = pd.read_csv(test_file)
df_test = df_test.append({}, ignore_index=True)
df_test

/tmp/ipykernel_11617/554140614.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append({}, ignore_index=True)
/tmp/ipykernel_11617/554140614.py:3: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df_test = df_test.append({}, ignore_index=True)

,date,mintemp,maxtemp,meantemp,minpres,maxpres,meanpres,maxhumi,minhumi,meanhumi,...,S_wd,SE_wd,E_wd,NE_wd,nocld,little,some,much,cloudy,rain
0,4.12.2022,-14.0,3.0,-6.270833,775.5,779.3,777.118750,85.0,18.0,47.9375,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
1,5.12.2022,-12.0,5.0,-4.291667,771.9,776.2,773.854167,85.0,11.0,46.0625,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,6.12.2022,-13.0,7.0,-3.916667,767.3,771.9,769.120833,85.0,10.0,49.1875,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
features = [column for column in df_test]
print(features)

for feature in features:
    if feature != 'date':
        for n in range(1, 4):
            get_nth_prior(df_test, feature, n)

df_test

['date', 'mintemp', 'maxtemp', 'meantemp', 'minpres', 'maxpres', 'meanpres', 'maxhumi', 'minhumi', 'meanhumi', 'meanwdspd', 'maxdewpt', 'mindewpt', 'meandewpt', 'N_wd', 'NW_wd', 'W_wd', 'SW_wd', 'S_wd', 'SE_wd', 'E_wd', 'NE_wd', 'nocld', 'little', 'some', 'much', 'cloudy', 'rain']

,date,mintemp,maxtemp,meantemp,minpres,maxpres,meanpres,maxhumi,minhumi,meanhumi,...,some_3,much_1,much_2,much_3,cloudy_1,cloudy_2,cloudy_3,rain_1,rain_2,rain_3
0,4.12.2022,-14.0,3.0,-6.270833,775.5,779.3,777.118750,85.0,18.0,47.9375,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5.12.2022,-12.0,5.0,-4.291667,771.9,776.2,773.854167,85.0,11.0,46.0625,...,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
2,6.12.2022,-13.0,7.0,-3.916667,767.3,771.9,769.120833,85.0,10.0,49.1875,...,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
df_test_nona = df_test.drop([0,1,2], axis=0).dropna(axis=1)
df_test_nona

,mintemp_1,mintemp_2,mintemp_3,maxtemp_1,maxtemp_2,maxtemp_3,meantemp_1,meantemp_2,meantemp_3,minpres_1,...,some_3,much_1,much_2,much_3,cloudy_1,cloudy_2,cloudy_3,rain_1,rain_2,rain_3
3,-13.0,-12.0,-14.0,7.0,5.0,3.0,-3.916667,-4.291667,-6.270833,767.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
regressor.predict(df_test_nona)

array([-2.81100126])

20221203 offcial weather forecast:

![weather_forecast_20221203](miscellaneous/bj20221203weather.png)

mean temperature: $\frac{2 + (-8)}{2} = -3$℃

predicted mean temperature: $-5.47$℃

error: $2.47$℃

## Lasso Regression

In [22]:
from sklearn.linear_model import Lasso

lasso_regressor = Lasso()

lasso_regressor.fit(x_train, y_train)

lasso_prediction = lasso_regressor.predict(x_test)
lasso_prediction

print("The Explained Variance: %.2f" % lasso_regressor.score(x_test, y_test))  
print("The Mean Absolute Error: %.2f degrees celsius" % mean_absolute_error(y_test, lasso_prediction))  
print("The Mean Squared Error: %.2f degrees celsius" % mean_squared_error(y_test, lasso_prediction))

The Explained Variance: 0.97
The Mean Absolute Error: 1.49 degrees celsius
The Mean Squared Error: 3.85 degrees celsius

发现误差更大了

这是因为lasso regression对于alpha的取值非常敏感，默认的 `alpha=1` 非最佳

sklearn内建类 `LassoCV` 使用 cross validation 自动找出给定取值范围内的最优 alpha，并使用该 alpha 构建回归模型

https://blog.csdn.net/qq_45797116/article/details/112676554

In [23]:
from sklearn.linear_model import LassoCV

lassoCV_regressor = LassoCV(eps=0.0001)

lassoCV_regressor.fit(x_train, y_train)

lassoCV_prediction = lassoCV_regressor.predict(x_test)
lassoCV_prediction

print("The Explained Variance: %.2f" % lassoCV_regressor.score(x_test, y_test))  
print("The Mean Absolute Error: %.2f degrees celsius" % mean_absolute_error(y_test, lassoCV_prediction))  
print("The Mean Squared Error: %.2f degrees celsius" % mean_squared_error(y_test, lassoCV_prediction))

The Explained Variance: 0.97
The Mean Absolute Error: 1.43 degrees celsius
The Mean Squared Error: 3.56 degrees celsius

/home/ivanx/.local/lib/python3.8/site-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.394e+03, tolerance: 3.655e+01
  model = cd_fast.enet_coordinate_descent(

Trail and Error 发现当 `eps` 取值 $0.0001$ 时模型预测误差最小，但似乎精度过高导致模型内部训练时可能出现精度误差，结果未必准确

In [24]:
joblib.dump(lasso_regressor, r'models/lassoRegression.model')
joblib.dump(lassoCV_regressor, r'models/lassoRegressionCV.model')

['models/lassoRegressionCV.model']

## 筛选线性相关高的features

The aim of this model is to predict the mean temperature with given historical data. By the nature of the linear regression model, the features used in the predictions have to have strong correlation with the target.

Hence, we need to study the correlation between the features and our target, mean temperature *meantemp*:

In [25]:
# pd.set_option('display.max_columns', None)

查看

In [26]:
corr = df_nona.corr(numeric_only=True)[['meantemp']].T  #计算特征与目标(meantemp)之间的相关度
corr

,mintemp,maxtemp,meantemp,minpres,maxpres,meanpres,maxhumi,minhumi,meanhumi,meanwdspd,...,some_3,much_1,much_2,much_3,cloudy_1,cloudy_2,cloudy_3,rain_1,rain_2,rain_3
meantemp,0.964997,0.967442,1.0,-0.832205,-0.877442,-0.888291,0.326012,0.287682,0.338495,-0.126531,...,0.036888,0.038692,0.038895,0.045934,-0.036049,-0.044946,-0.042317,0.031013,0.031659,0.035463

In [27]:
#筛选出线性相关度小于0.6的特征准备从数据集中去除
to_drop_corr = df_nona.columns[[True] + [(True if \
    (abs(corr[column]['meantemp']) < 0.6) else False) for column in corr]]
to_drop_corr

Index(['date', 'maxhumi', 'minhumi', 'meanhumi', 'meanwdspd', 'N_wd', 'NW_wd',
       'W_wd', 'SW_wd', 'S_wd', 'SE_wd', 'E_wd', 'NE_wd', 'nocld', 'little',
       'some', 'much', 'cloudy', 'rain', 'maxhumi_1', 'maxhumi_2', 'maxhumi_3',
       'minhumi_1', 'minhumi_2', 'minhumi_3', 'meanhumi_1', 'meanhumi_2',
       'meanhumi_3', 'meanwdspd_1', 'meanwdspd_2', 'meanwdspd_3', 'N_wd_1',
       'N_wd_2', 'N_wd_3', 'NW_wd_1', 'NW_wd_2', 'NW_wd_3', 'W_wd_1', 'W_wd_2',
       'W_wd_3', 'SW_wd_1', 'SW_wd_2', 'SW_wd_3', 'S_wd_1', 'S_wd_2', 'S_wd_3',
       'SE_wd_1', 'SE_wd_2', 'SE_wd_3', 'E_wd_1', 'E_wd_2', 'E_wd_3',
       'NE_wd_1', 'NE_wd_2', 'NE_wd_3', 'nocld_1', 'nocld_2', 'nocld_3',
       'little_1', 'little_2', 'little_3', 'some_1', 'some_2', 'some_3',
       'much_1', 'much_2', 'much_3', 'cloudy_1', 'cloudy_2', 'cloudy_3',
       'rain_1', 'rain_2', 'rain_3'],
      dtype='object')

In [28]:
df_corr = df_nona.drop(to_drop_corr, axis=1)
df_corr

,mintemp,maxtemp,meantemp,minpres,maxpres,meanpres,maxdewpt,mindewpt,meandewpt,mintemp_1,...,meanpres_3,maxdewpt_1,maxdewpt_2,maxdewpt_3,mindewpt_1,mindewpt_2,mindewpt_3,meandewpt_1,meandewpt_2,meandewpt_3
3,8.0,26.0,16.833333,760.5,765.0,763.037500,10.0,0.0,5.041667,8.0,...,762.487500,10.0,3.0,16.0,-3.0,-10.0,3.0,2.166667,-4.041667,10.958333
4,1.0,24.0,11.125000,759.7,768.1,763.915909,12.0,-15.0,2.852273,8.0,...,763.616667,10.0,10.0,3.0,0.0,-3.0,-10.0,5.041667,2.166667,-4.041667
5,6.0,25.0,14.513889,758.2,765.0,761.095833,15.0,-3.0,7.250000,1.0,...,763.541667,12.0,10.0,10.0,-15.0,0.0,-3.0,2.852273,5.041667,2.166667
6,2.0,25.0,14.027778,758.2,765.8,761.276389,14.0,-16.0,1.500000,6.0,...,763.037500,15.0,12.0,10.0,-3.0,-15.0,0.0,7.250000,2.852273,5.041667
7,3.0,25.0,14.111111,756.9,768.1,762.133333,9.0,-12.0,1.750000,2.0,...,763.915909,14.0,15.0,12.0,-16.0,-3.0,-15.0,1.500000,7.250000,2.852273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3712,-5.0,4.0,0.333333,763.5,769.6,767.350000,-14.0,-22.0,-17.229167,1.0,...,764.333333,7.0,8.0,5.0,-21.0,1.0,-1.0,-6.479167,5.208333,1.875000
3713,-2.0,8.0,3.437500,759.0,763.5,761.060417,-4.0,-16.0,-10.729167,-5.0,...,761.195833,-14.0,7.0,8.0,-22.0,-21.0,1.0,-17.229167,-6.479167,5.208333
3714,-2.0,13.0,6.479167,760.5,772.7,763.922917,-2.0,-20.0,-9.979167,-2.0,...,761.714583,-4.0,-14.0,7.0,-16.0,-22.0,-21.0,-10.729167,-17.229167,-6.479167
3715,-10.0,-2.0,-5.958333,772.7,783.1,778.268750,-20.0,-29.0,-25.041667,-2.0,...,767.350000,-2.0,-4.0,-14.0,-20.0,-16.0,-22.0,-9.979167,-10.729167,-17.229167
3716,-11.0,-2.0,-6.229167,777.7,783.1,780.079167,-18.0,-26.0,-24.791667,-10.0,...,761.060417,-20.0,-2.0,-4.0,-29.0,-20.0,-16.0,-25.041667,-9.979167,-10.729167

In [29]:
to_keep_corr = df_corr.columns[df_corr.columns.str.contains(s, regex=True)]
to_remove_corr = [column for column in df_corr.columns if column not in to_keep_corr]
x_corr = df_corr.drop(to_remove_corr, axis=1)
x_corr

,mintemp_1,mintemp_2,mintemp_3,maxtemp_1,maxtemp_2,maxtemp_3,meantemp_1,meantemp_2,meantemp_3,minpres_1,...,meanpres_3,maxdewpt_1,maxdewpt_2,maxdewpt_3,mindewpt_1,mindewpt_2,mindewpt_3,meandewpt_1,meandewpt_2,meandewpt_3
3,8.0,15.0,12.0,25.0,24.0,21.0,16.875000,19.000000,15.958333,761.2,...,762.487500,10.0,3.0,16.0,-3.0,-10.0,3.0,2.166667,-4.041667,10.958333
4,8.0,8.0,15.0,26.0,25.0,24.0,16.833333,16.875000,19.000000,760.5,...,763.616667,10.0,10.0,3.0,0.0,-3.0,-10.0,5.041667,2.166667,-4.041667
5,1.0,8.0,8.0,24.0,26.0,25.0,11.125000,16.833333,16.875000,759.7,...,763.541667,12.0,10.0,10.0,-15.0,0.0,-3.0,2.852273,5.041667,2.166667
6,6.0,1.0,8.0,25.0,24.0,26.0,14.513889,11.125000,16.833333,758.2,...,763.037500,15.0,12.0,10.0,-3.0,-15.0,0.0,7.250000,2.852273,5.041667
7,2.0,6.0,1.0,25.0,25.0,24.0,14.027778,14.513889,11.125000,758.2,...,763.915909,14.0,15.0,12.0,-16.0,-3.0,-15.0,1.500000,7.250000,2.852273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3712,1.0,1.0,-1.0,13.0,9.0,13.0,7.708333,6.625000,4.916667,759.0,...,764.333333,7.0,8.0,5.0,-21.0,1.0,-1.0,-6.479167,5.208333,1.875000
3713,-5.0,1.0,1.0,4.0,13.0,9.0,0.333333,7.708333,6.625000,763.5,...,761.195833,-14.0,7.0,8.0,-22.0,-21.0,1.0,-17.229167,-6.479167,5.208333
3714,-2.0,-5.0,1.0,8.0,4.0,13.0,3.437500,0.333333,7.708333,759.0,...,761.714583,-4.0,-14.0,7.0,-16.0,-22.0,-21.0,-10.729167,-17.229167,-6.479167
3715,-2.0,-2.0,-5.0,13.0,8.0,4.0,6.479167,3.437500,0.333333,760.5,...,767.350000,-2.0,-4.0,-14.0,-20.0,-16.0,-22.0,-9.979167,-10.729167,-17.229167
3716,-10.0,-2.0,-2.0,-2.0,13.0,8.0,-5.958333,6.479167,3.437500,772.7,...,761.060417,-20.0,-2.0,-4.0,-29.0,-20.0,-16.0,-25.041667,-9.979167,-10.729167

In [30]:
y_corr = y

In [31]:
corr_path = r'models/correlated/'
joblib.dump(x_corr, corr_path + r'xc.dataset')
joblib.dump(y_corr, corr_path + r'yc.dataset')

['models/correlated/yc.dataset']

In [32]:
xc_train, xc_test, yc_train, yc_test = train_test_split(x_corr, y_corr, test_size=0.2, random_state=42)
xc_train

,mintemp_1,mintemp_2,mintemp_3,maxtemp_1,maxtemp_2,maxtemp_3,meantemp_1,meantemp_2,meantemp_3,minpres_1,...,meanpres_3,maxdewpt_1,maxdewpt_2,maxdewpt_3,mindewpt_1,mindewpt_2,mindewpt_3,meandewpt_1,meandewpt_2,meandewpt_3
2501,18.0,16.0,22.0,31.0,34.0,37.0,25.055556,26.135417,29.583333,747.0,...,752.370833,24.0,24.0,24.0,10.0,7.0,16.0,18.520833,17.942708,20.625000
1969,-9.0,-10.0,-5.0,7.0,5.0,5.0,-0.500000,-1.375000,0.437500,764.3,...,765.779167,-10.0,-13.0,-15.0,-22.0,-22.0,-21.0,-17.979167,-18.020833,-18.062500
599,13.0,14.0,14.0,30.0,28.0,30.0,23.400000,22.222222,23.361702,753.1,...,755.242553,14.0,10.0,9.0,6.0,4.0,1.0,9.488889,6.000000,4.425532
1697,20.0,21.0,17.0,35.0,37.0,36.0,28.250000,29.083333,27.270833,754.6,...,754.893750,17.0,20.0,17.0,12.0,8.0,13.0,15.062500,16.395833,15.062500
3403,-7.0,-8.0,-12.0,-2.0,-2.0,3.0,-4.166667,-3.583333,-4.395833,774.7,...,769.420833,-7.0,-5.0,-10.0,-12.0,-14.0,-15.0,-9.937500,-10.604167,-12.375000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1133,-6.0,-4.0,-1.0,19.0,20.0,19.0,4.491803,4.830645,5.049587,764.3,...,771.652066,7.0,6.0,6.0,-12.0,-4.0,-6.0,0.721311,0.725806,1.330579
1297,6.0,13.0,8.0,22.0,23.0,27.0,16.060606,17.878788,16.562500,756.2,...,753.109375,8.0,0.0,10.0,-1.0,-10.0,-8.0,2.303030,-3.848485,3.218750
863,-7.0,-6.0,-6.0,13.0,9.0,11.0,2.713115,2.754237,1.159664,762.0,...,764.831933,-5.0,-1.0,-1.0,-22.0,-23.0,-17.0,-13.704918,-12.177966,-9.924370
3510,6.0,6.0,7.0,36.0,35.0,31.0,20.388889,19.506944,22.722222,746.3,...,757.300694,12.0,15.0,16.0,-9.0,-2.0,-7.0,4.750000,4.340278,4.756944
3177,17.0,20.0,17.0,35.0,34.0,34.0,26.381944,26.243056,23.166667,747.8,...,752.445833,22.0,21.0,21.0,-1.0,4.0,6.0,13.729167,15.173611,15.340278

In [33]:
joblib.dump(xc_train, corr_path + r'xc_train.dataset')
joblib.dump(yc_train, corr_path + r'yc_train.dataset')
joblib.dump(xc_test, corr_path + r'xc_test.dataset')
joblib.dump(yc_test, corr_path + r'yc_test.dataset')

['models/correlated/yc_test.dataset']

In [34]:
yc_train

2501    25.694444
1969    -2.062500
599     22.468085
1697    24.333333
3403    -3.625000
          ...
1133     3.905512
1297    15.588235
863      1.789474
3510    20.763889
3177    25.352113
Name: meantemp, Length: 2971, dtype: float64

### Basic LR with more correlated data

In [35]:
regressor_c = LinearRegression()

regressor_c.fit(xc_train, yc_train)

prediction_c = regressor_c.predict(xc_test)
prediction_c

print("The Explained Variance: %.2f" % regressor_c.score(xc_test, yc_test))  
print("The Mean Absolute Error: %.2f degrees celsius" % mean_absolute_error(yc_test, prediction_c))  
print("The Mean Squared Error: %.2f degrees celsius" % mean_squared_error(yc_test, prediction_c))

The Explained Variance: 0.97
The Mean Absolute Error: 1.44 degrees celsius
The Mean Squared Error: 3.59 degrees celsius

In [36]:
joblib.dump(regressor_c, corr_path + r'linearRegression.model')

['models/correlated/linearRegression.model']

### Lasso Regression with more correlated data

In [37]:
l_regressor_c = LassoCV(eps=0.0001)

l_regressor_c.fit(xc_train, yc_train)

l_prediction_c = l_regressor_c.predict(xc_test)
l_prediction_c

print("The Explained Variance: %.2f" % l_regressor_c.score(xc_test, yc_test))  
print("The Mean Absolute Error: %.2f degrees celsius" % mean_absolute_error(yc_test, l_prediction_c))  
print("The Mean Squared Error: %.2f degrees celsius" % mean_squared_error(yc_test, l_prediction_c))

The Explained Variance: 0.97
The Mean Absolute Error: 1.44 degrees celsius
The Mean Squared Error: 3.62 degrees celsius

/home/ivanx/.local/lib/python3.8/site-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.175e+02, tolerance: 3.655e+01
  model = cd_fast.enet_coordinate_descent(

In [38]:
joblib.dump(l_regressor_c, corr_path + r'lassoRegressionCV.model')

['models/correlated/lassoRegressionCV.model']